  
  body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #f8f9fa; /* Light background */
    color: #333; /* Dark text */
    scroll-behavior: smooth;

  }
  
  .section {
    min-height: 100vh; /* Make each section fill the viewport */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; /* Center content vertically and horizontally */
  }
  
  /* Add custom styles for each section to differentiate them */
  #home {
    background: #f8f9fa;
  }
  
  #about {
    background: #e9ecef;
  }
  
  #experience {
    background: #dee2e6;
  }
  
  #projects {
    background: #ced4da;
  }
  
  #home {
    padding-top: 70px; /* Height of the navbar */
  }
  
  .timeline {
    position: relative;
    padding-left: 30px;
    list-style: none;
  }
  
  .timeline::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 2.5px;
    background: #000000;
  }
/*   
  .timeline-item {
    position: relative;
    margin-bottom: 20px;
  }
  
  .timeline-dot {
    position: absolute;
    left: -36.5px;
    top: 7px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #007bff;
    z-index: 1;
  } */
  .timeline-item {
    position: relative;
    margin-bottom: 20px;
    display: flex;
    align-items: center; /* Align the dot, content, and logo vertically */
  }
  
  .timeline-dot {
    position: absolute; /* Adjusted from absolute to relative */
    left: -36.5px;
    top: 7px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #007bff;
    z-index: 1;
    flex-shrink: 0; /* Prevent the dot from shrinking */
  }
  
  .timeline-content {
    flex-grow: 1; /* Allow content to fill the space */
  }
  
  /* .timeline-date {
    margin-bottom: 5px;
    font-weight: bold;
  } */
  .timeline-date {
    display: inline-block;
    margin-bottom: 5px;
    font-weight: bold;
    background-color: #2a2cc8; /* Adjust the color to match your design */
    color: white; /* Text color */
    padding: 8px 16px; /* Adjust padding to your preference */
    border-radius: 20px; /* Gives the rounded corners */
    font-size: 1rem; /* Adjust font-size as needed */
    /* Additional properties for better appearance */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: Adds a subtle shadow */
  }
  
  .timeline-logo {
    margin-left: auto; /* Push the logo to the right */
    padding-left: 20px; /* Space between content and logo */
  }
  
  .timeline-logo img {
    display: block; /* Remove inline-block alignments */
    max-width: 150px; /* Set a maximum width for the logo */
    height: auto; /* Maintain aspect ratio */
  }

  /* .timeline-content {
    margin-left: 10px; Give some space for the dot
  } */
  
  .timeline-content h3 {
    margin-top: 0;
    font-size: 1.25rem;
  }
  
  .timeline-content p {
    margin-bottom: 0;
  }
  
  .navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
    margin-left: 30px;
  }